ul li{list-style: none;}
a,a:visited{text-decoration: none;}
.ibg{background-position: center;background-size: cover;background-repeat: no-repeat;
}
#more{display: none;}
//===================================================================================================================================================
.investment {
	display: flex;
background-color: #000;
margin: 0px 0px 0px 0px;
position: relative;

	// .investment__column

	&__column {
		flex: 0 0 60%;
	}

	// .investment__image

	&__image {
		position: absolute;

		margin-left: 100px;
		margin-top: 200px;
		& img{
			border-radius: 30px;
		}
	}
}
.investment-body {
	padding-top: 150px;
	padding-left: 200px;

	// .investment-body__title

	&__title {
		padding-right: 80px;
		font-size: 72px;
		line-height: 87px;
		color: #fff;
		margin-bottom: 50px;
		&_color{
			color: #00A9DE;
		}
	}
	
	// .investment-body__text

	&__text {
		max-width: 667px;
		font-size: 24px;
		color: #fff;
		margin-bottom: 50px;
	}
}
.investment-body-content {
	max-width: 950px;
}
.investment-body-buttons {

	// .investment-body-buttons__android

	&__android {
	}

	// .investment-body-buttons__ois

	&__ois {
	}
}
//=============================================================================================================================================================================
.card {
display: flex;
margin: 0px 0px 0px 0px;
	// .card__column

	&__column {
		flex: 0 0 50%;
		margin: 235px 0px 154px 0px;
	}

	// .card__image

	&__image {
		height: 100%;
		margin-left: 258px;
	}
}
.card-body {
	margin-right: 171px;

	// .card-body__link

	&__link li:nth-child(1){
		list-style: decimal;
	}
	&__link li:nth-child(3){
		list-style: decimal;
	}

	// .card-body__list

	&__list {

		// .card-body__list_1

		&_1 {
		}

		// .card-body__list_2

		&_2 {
			font-weight: 600;
			font-size: 36px;
			line-height: 44px;
			color: #007094;
			margin: 20px 0px 20px 20px;
		}

		// .card-body__list_copy

		&_copy {
		}

		// .card-body__list_3

		&_3 {
			
		}

		// .card-body__list_4

		&_4 {
			font-weight: 600;
			font-size: 36px;
			line-height: 44px;
			color: #007094;
			margin: 20px 0px 20px 20px;
		}
	}

	// .card-body__text

	&__text {
		padding-right: 30px;
		font-size: 24px;
		line-height: 29px;
		font-weight: 400;
	}
}
.card-body-content {
}
.card-body-undertext {

	// .card-body-undertext__item

	&__item {
	}
}


//=============================================================================================================================================================================
.sfera {
	display: flex;
	background: #fff;

	// .sfera__column

	&__column {
		flex: 0 0 60%;
		margin: 46px 0px 0px 0px;
	}

	// .sfera__image

	&__image {
		margin-right: 246px;
		margin-left: 200px;
		margin-top: 57px;
	}
}
.sfera-body {

	margin-left: 258px;
	list-style: circle; 

	// .sfera-body__uptext

	&__uptext {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	margin-bottom: 40px;
	}

	// .sfera-body__link

	&__link {
		padding-left: 25px;
		margin-top: 30px;
		li:before {content: "• ";color: #000; margin-left: -20px;}
	}
	&__list {
		margin-top: 10px;
	}
	// .sfera-body__downtext

	&__downtext {
		font-size: 24px;
		line-height: 29px;
		font-weight: 400;
		padding-right: 110px;
	}
}
.sfera-body-content {
}

//=============================================================================================================================================================================
.venchur {
}
.venchur-body {
	margin: 100px 308px 0px 258px;

		// .venchur-body__title

		&__title {
			font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	margin-bottom: 40px;
		}

		// .venchur-body__undertitle

		&__undertitle {
			margin-top: 36px;
			margin-bottom: 40px;

			// .venchur-body__undertitle_text

			&_text {
				margin: 0px 0px 0px 0px;
			}
		}

		// .venchur-body__link

		&__link {
			padding-left: 0;
		}
		&-list{
			font-size: 24px;
			line-height: 29px;
			margin-bottom: 40px;
		}
}
.venchur-body-content {
}
// .venchur-body-list {
// 	padding-left: 86px;
// 	background: url(../img/investment/quote.png) top left no-repeat;
// }

//=============================================================================================================================================================================
.sfera-2 {
	display: flex;

	// .sfera-2__column

	&__column {
		flex: 0 0 60%;
		margin: 160px 0px 100px 258px;
	}

	// .sfera-2__image

	&__image {
		margin-right: 200px;
		margin-left: 245px;
		margin-top: 68px;
	}
}
.sfera-2-body {

	// .sfera-2-body__uptext

	&__uptext {
		font-size: 32px;
		font-weight: 700;
		line-height: 38px;
		margin-bottom: 55px;
		
	}

	// .sfera-2-body__link
	&__link{
		font-size: 18px;
		line-height: 22px;
	}
	&__link li {
		// li:before {content: "• ";color: #fff; margin-left: -20px;}
		list-style: decimal;
	}

	// .sfera-2-body__downtext

	&__downtext {
		margin-top: 33px;
	}
}
.sfera-2-body-content {
	padding-right: 245px;
}

//=============================================================================================================================================================================
.goal {
	background: #fff;
}
.goal-body {

		// .goal-body__title

		&__title {
			color: #000;
			font-size: 36px;
			font-weight: 600;
			line-height: 43px;
			text-align: center;
		}
}
.goal-body-content {
	margin: 130px 0px 130px 0px;
	
}

//=============================================================================================================================================================================

.lead {
	

	// .lead__download-links-list

	&__download-links-list {
		display: flex;
  		list-style: none;
  		padding: 0;
		margin-bottom: 100px;
	}

	// .lead__download-links-list-item

	&__download-links-list-item {
		flex: 0 1 40%;
	}

	// .lead__download-link

	&__download-link {
	}
}
.button {

	// .button_theme

	&_theme {
	}

	// .button_type

	&_type {
	}

	// .button_type

	&_type {
	}
}

#btn{
	cursor: pointer;
	color: #007094;
}