@charset "UTF-8";
ul li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#more {
  display: none;
}

.investment {
  display: flex;
  background-color: #000;
  margin: 0px 0px 0px 0px;
  position: relative;
}
.investment__column {
  flex: 0 0 60%;
}
.investment__image {
  position: absolute;
  margin-left: 100px;
  margin-top: 200px;
}
.investment__image img {
  border-radius: 30px;
}

.investment-body {
  padding-top: 150px;
  padding-left: 200px;
}
.investment-body__title {
  padding-right: 80px;
  font-size: 72px;
  line-height: 87px;
  color: #fff;
}
.investment-body__title_color {
  color: tan;
}
.investment-body__text {
  max-width: 667px;
  font-size: 24px;
  color: #fff;
}

.investment-body-content {
  max-width: 950px;
}

.card {
  display: flex;
  margin: 0px 0px 0px 0px;
}
.card__column {
  flex: 0 0 50%;
  margin: 235px 0px 154px 0px;
}
.card__image {
  height: 100%;
  margin-left: 258px;
}

.card-body {
  margin-right: 171px;
}
.card-body__link li:nth-child(1) {
  list-style: decimal;
}
.card-body__link li:nth-child(3) {
  list-style: decimal;
}
.card-body__list_2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #007094;
  margin: 20px 0px 20px 20px;
}
.card-body__list_4 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #007094;
  margin: 20px 0px 20px 20px;
}
.card-body__text {
  padding-right: 30px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.sfera {
  display: flex;
  background: #fff;
}
.sfera__column {
  flex: 0 0 60%;
  margin: 46px 0px 246px 0px;
}
.sfera__image {
  margin-right: 246px;
  margin-left: 200px;
  margin-top: 57px;
}

.sfera-body {
  margin-left: 258px;
  list-style: circle;
}
.sfera-body__uptext {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 40px;
}
.sfera-body__link {
  padding-left: 25px;
  margin-top: 30px;
}
.sfera-body__link li:before {
  content: "• ";
  color: #000;
  margin-left: -20px;
}
.sfera-body__list {
  margin-top: 10px;
}
.sfera-body__downtext {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  padding-right: 110px;
}

.venchur-body {
  margin: 130px 308px 130px 308px;
}
.venchur-body__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 40px;
}
.venchur-body__undertitle {
  margin-top: 36px;
}
.venchur-body__undertitle_text {
  margin: 0px 0px 0px 0px;
}
.venchur-body__link {
  padding-left: 0;
}

.sfera-2 {
  display: flex;
  background: #000;
}
.sfera-2__column {
  flex: 0 0 50%;
  margin: 235px 0px 235px 0px;
}
.sfera-2__image {
  margin-right: 200px;
  margin-left: 245px;
  margin-top: 68px;
}

.sfera-2-body {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}
.sfera-2-body__uptext {
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
}
.sfera-2-body__link li:before {
  content: "• ";
  color: #fff;
  margin-left: -20px;
}
.sfera-2-body-content {
  padding-right: 245px;
}

.goal {
  background: #fff;
}

.goal-body__title {
  color: #000;
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  text-align: center;
}

.goal-body-content {
  margin: 130px 0px 130px 0px;
}

.lead__download-links-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 100px;
}
.lead__download-links-list-item {
  flex: 0 1 40%;
}