.section-card {
	background:  #2E2E31;
	padding: 80px 250px ;
}
.card-block-link-botton,
.card-block-link {
	display: none;
}
.card {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 277px;
	justify-content: center;
	align-items: center;
}
.card-block {
	cursor: pointer;
	margin-bottom: 40px;
	perspective: 1077px;
}
.product-inner {
	transition: transform 1.2s linear;
	position: relative;
	width: 100%;
	height: 75%;
	transform-style: preserve-3d;
}

.card-block-botton {
	margin-top: 25px;
	text-align: center;
	color: rgba(255, 255, 255, 0.87);
	font-size: 20px;
	line-height: 24px;
}
.card-block-top {
	display: block;
	font-size: 24px;
	line-height: 30px;
	margin: 10px auto;
	border: none;
	padding: 8px;
	color: #00A9DE;
	background: rgba(0, 169, 222, 0.1);
	border-radius: 3px;
}
.card-3d {
	perspective: 1000px;
	cursor: pointer;
	width: 296px;
	height: 600px;
}
.product-front {
	position: absolute;
	width: 76%;
	left: -5px;
	border-radius: 35px;
	transform: translateZ(7.8px);
}
.product-back {
	transition: transform 1.2s linear;
	border-radius: 35px;
	right: -55px;
	width: 64%;
	position: relative;
	height: 300px;
	transform: translateZ(-7.8px);
}
.left-side {
	width: 16px;
	height: 93%;
	background: #1e1d1d;
	transform: rotateY(90deg);
	margin-top: 310px;
	position: relative;
	margin-left: 0px;
	bottom: 589px;
}
.product-inner:hover {
	transform: rotateY(180deg);
	transition: transform 1.2s linear;
}
.back {
	position: relative;
	width: 275px;
	height: 595px;
	transform: rotateY(180deg);
	left: -63px;
}
.front {
	width: 275px;
	height: 595px;
}
@media screen and (max-width: 1440px) {
	.card {
		column-gap: 150px;
	}
	.left-side{
		height: 92%;
	}
}
@media screen and (max-width: 768px) {
	.section-card {
    padding: 80px 70px;
	}
	.card-block-link-botton{
		display: block;
	}
	.card {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		column-gap: 63px;
		align-items: baseline;
	}
	.product-inner {
    height: 62%;
	}
	.card-block__link {
		font-size:14px ;
		font-weight:600 ;
		line-height:17px ;
		position: relative;
    top: 350px;
	}
	.card-block {
		margin-bottom: 150px
	}
	.card-block-botton{
		margin-top: 50px;
	}
	.left-side {
		height: 97%;
		margin-top: 312px
	}
}
@media screen and (max-width: 375px) {
	.product-back{
		height: 225px;
	}
	.section-card {
    padding: 80px 32px;
	}
	.card {
		column-gap: 30px;
	}
	.product-inner {
    height: 78%;
	}
	.card-block-botton {
    margin-top: 80px;
		font-size: 14px;
		line-height: 17px;
		font-weight: 400;
	}
	.card-block-top {
		font-size: 14px;
		line-height: 20px;
	}
	.back,.front {
		width: 137px;
		height: 297px;
	}
	.card-block {
		width: 137px;
		height: 297px;
	}
	.left-side {
		width: 16px;
    height: 280px;
    margin-top: 338px;
    margin-left: -8px;
   }
	.card-block__link {
		position: relative;
    top: 190px;
	}
}
@media screen and (max-width: 320px) {
	
	.card-block {
		width: 150px;
		height: 400px;
	}
	.left-side {
    width: 16px;
    height: 250px;
    margin-top: 370px;
	}
	.card {
		column-gap: 20px;
	}
	.product-inner {
		margin-left: 30px;
		height: 70%;
		width: 55%;
	}
	.product-inner:hover {
		transform: rotateY(180deg);
		transition: transform 1.2s linear;
	}
	.card-block {
	  width: 140px;
		height: 260px;
	}
	.back {
		width: 132px;
		height: 365px;
	}
	.back,.front {
		width: 92px;
		height: 221px;
	}
	.left-side{
		height: 211px;
		margin-left: -8px;
	}
	.card-block-botton{
		margin-top: 95px;
	}
}