.section__landing {
  background: #2E2E31;
}
.lead__download-links-list {
  display: flex;
  list-style: none;
  padding: 0;
  column-gap: 30px;
  margin-top: 40px;
}
.section-first {
    display: flex;
    justify-content: center;
    column-gap: 110px;
    align-items: center;
    color: rgba(255, 255, 255, 0.87);
    line-height: 45px;
    padding:100px  0;
}
.section-first-color-sfera {
  color: #00A9DE;
}
.section-block-one {  
  display: flex;
}
.section-first-paragraf {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
}
.section-two-image-one {
	display: inline-block;
	margin-right: 59px;
}
.list-left,
.list-left-for {
  list-style: none;
  line-height: 35px;
  font-size: 28px;
}
.link-list-left,
.link-list-left-for-li {
  display: flex;
  align-items: center;
  font-size: 28px;
  line-height: 35px;
  margin: 20px 0;
}
.link-list-left-color {
  color: #00A9DE;
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
.link-list-left-one,
.link-list-left-for {
  margin-right: 20px;
}
.section-image-one {
  width: 282px ;
  height: 612px;
  margin-right: 54px;
}
.section-image-two,
.block-for-image-one,
.block-for-image-two {
  width: 282px ;
  height: 612px;
}
.section-button {
  display: flex;
  margin: 46px 0 0 0;
  z-index: 2;
  
}
.section-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}
.section-two {
  display: flex;
  column-gap: 238px;
  justify-content: center;
  margin:100px 300px ;
}
.section-two-image {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  margin: 0 0 0 0;
}
.section-two-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.section-two-content-social-block,
.section-two-content-social-block-mobile {
  display: none;
  background-image: url(../image-lending/general/Group\ 1\ \(Traced\)\ \(1\).png);
  background-repeat: no-repeat;
  font-size: 40px;
  height: 60px;
  text-align: center;
  Line-height: 58px;
  color: rgba(255, 255, 255, 0.87);
}
.section-two-content-number-two {
  display: none;
  text-align: center;
  color: #00A9DE;
  font-size: 24px;
}
.section-two-content-number {
  padding: 70px;
  color: #00A9DE;
  font-size: 44px;
  Line-height: 58px;
  text-align: center;
}
.section-two-content-message {
  background-image: url(../image-lending/general/Group\ 1\ \(Traced\).png);
  background-repeat: no-repeat;
  font-weight: 400;
  font-size: 36px;
  Line-height: 43px;
  text-align: center;
}
.section-two-content-social {
  background-image: url(../image-lending/general/Group\ 1\ \(Traced\)\ \(1\).png);
  background-repeat: no-repeat;
  font-size: 44px;
  height: 60px;
  text-align: center;
  Line-height: 58px;
}
.section-as-heading-color,
.about-as-heading-color {
  color: #00A9DE;
}
.section-as-heading {
  margin-top: 200px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}
.section-as-video {
  text-align: center;
}
.section-as-iframe-video {
  width: 1280px;
  height: 720px;
  box-shadow: 0 5px rgb(102, 99, 99);
}
.block-for {
  display: flex;
  column-gap: 266px;
  justify-content: center;
  align-items: center;
  margin: 100px 250px; 
}

.block-for-image {
  display: flex;
}
.block-for-image-one {
  margin-right: 48px;
}
.block-for-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-list-left-for-li {
  margin-top: 20px;
  line-height: 35px;
  font-size: 28px; 
  
}
.block-first-color-for {
  margin-top: 34px;
  color: #00A9DE;
  font-size: 24px;

}
.block-first-color {
  margin-bottom: 14px;
  font-size: 24px;
  color: #00A9DE;
  border-radius: 4px;
  border: none;
}
.about-as-heading {
  text-align: center;
  margin-top: 100px;
  color: rgba(255, 255, 255, 0.87);
  padding-bottom: 100px;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}
.section-about-as-heading {
  text-align: center;
  margin-top: 160px;
  color: black;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}
.about-as-heading-last {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 100px;
}
.what-is-already-background {
  z-index: -1;
  position: relative;
  bottom: 1350px;
  height: 450px;
}
.block-six-link {
  color: #00A9DE;
  margin: 5px;
  padding: 6px 20px 6px 20px;
  background: rgba(0, 169, 222, 0.1);
  border-radius: 4px;
}
.block-seven {
  display: flex;
  column-gap: 270px;
  justify-content: center;
  align-items: center;
  margin: 70px  250px 0 250px;
}
.block-seven-buttons {
  display: flex;
}
.block-seven-paragraf {
  text-align: justify;
  Line-height: 35px;
  font-size: 24px;
}
.block-seven-p {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #00A9DE;

}
.block-seven-image {
  display: flex;
  justify-content: center; 
}
.block-eight {
	margin: 100px 120px 120px 120px;
  text-align: center;
}
.block-eight-card {
  list-style: none;
  display: grid;
  row-gap: 60px;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr;
}
.block-eight-card-list-paragraf {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}
/* .block-footer {
  display: flex;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.87);
  margin: 40px 0;
  font-size: 24px;
} */
.block-footer-three {
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  font-size: 14px;
  margin: 100px;
}
.block-seven-image {
  width: 477px;
}
@media screen and (max-width: 1440px) {
  .section-first {
    column-gap: 70px;
    padding: 70px 0;
  }
  
  .section-two {
  column-gap: 180px;
  }
  .section-as-iframe-video {
    width: 1270px;
    height: 640px;
  }
  .block-for {
    column-gap: 150px;
	  margin: 60px 0 100px;
  }
  .section-image-one {
    width: 240px;
    height: 500px;
  }
  .section-image-two {
    width: 250px;
    height: 500px;
  }                    
  .block-eight-card {
    row-gap: 30px;
}
  .section-as-heading{
	margin-top: 150px;
  }
  .about-as-heading-last, 
  .about-as-heading {
	  margin-top: 40px;
  }
  .block-for-image-one {
    width: 280px;
    height: 590px;
    margin-right: 48px;
  }
  .block-for-image-two {
    width: 280px;
    height: 590px;
  }
  .block-seven {
    column-gap: 200px;
    margin: 206px 130px 0 130px;
  }
  .block-seven-image {
    width: 335px;
    height: 588px;
  }
  
  .block-eight {
    margin: 180px 130px 70px 130px;
    text-align: center;
  }
}
@media screen and (max-width: 1240px) {
  .section-image-one,
  .section-image-two {
    width: 230px;
    height: 500px;
}
  .section-first {
    column-gap: 5px;
}
  .section-image-one,
  .section-two-image-one {
    margin-right: 24px;
}
  .block-eight {
    margin: 180px 80px 70px 80px;
  }
  .section-two {
    column-gap: 70px;
  }
  .block-for-image-two {
    margin-right: 8px;
}
.block-for {
  column-gap: 30px;
}
}
@media screen and (max-width: 1185px){
  .section-as-iframe-video {
    width: 1145px;
  }
  .section-image-one,
  .section-image-two {
    width: 190px;
    height: 420px;
}
}
@media screen and (max-width: 768px) {
  .lead__download-links-list {
    justify-content: center;
    align-items: center;
    
  }
  .lead__download-links-list {
    margin-top: 500px;
    flex-direction: row-reverse;
  }
  .section-block-one {
  position: absolute;
  top: 480px;
  }
  .section-first {
    flex-direction: column;
    margin: 0 50px;
    padding: 0;
  }
  .list-left {
    padding: 130px 0 20px 0;
  }
  .link-list-left-one,
  .link-list-left-for {
    width: 21px;
  }
  .section-img{
	margin-top: -5px;
  }
  .section-image-one {
    margin-right: 44px;
    width: 183px;
    height: 398px;
  }      
  .section-image-two {
    width: 183px;
    height: 398px;
  }      
  .section-two-image{
	margin-top: 0;
  }
  
  .section-as-heading {
	  margin-top: 100px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  .section-about-as-heading {
    margin-top: 50px;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
}
  .block-for-image-one {
    width: 178px;
    height: 391px;
    margin-right: 8px;
  }
  .block-for-image-two {
    width: 178px;
    height: 391px;
    margin-right: 0;
  }
  .block-for {
    column-gap: 50px;
    margin: 80px 0 100px;
    justify-content: center;
  }
  .block-first-color {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }
  .link-list-left-for-li {
    line-height: 22px;
    font-size: 18px;
    font-weight: 500;
  }
  .block-first-color-for {
    margin-top: 34px;
    line-height: 17px;
    font-size: 14px;
    font-weight: 400;
}
  .section-first-paragraf {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .link-list-left {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }
  .link-list-left-color {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
  }
  .section-two {
    column-gap: 56px;
    margin: 100px 50px;
  }
  .section-two-image-one,
  .section-two-image-two {
    width: 177px;
    height: 390px;
  }
  .section-two-image-one {
    margin-right: 0;
  }
  section.section-two {
	margin-top: 0;
  }
  .section-two-content-message,
  .section-two-content-social {
    font-weight: 600;
    font-size: 22px;
    Line-height: 26px;
  }
  .section-two-content-number {
  padding: 33px 0 33px 0;
  font-weight: 700;
  font-size: 32px;
  Line-height: 38px;
  text-align: center;
  }
  .section-two-image {
    padding: 50px 0;
  }
  .section-as-iframe-video {
    width: 725px;
    height: 400px;
  }
  .about-as-heading {
    font-size: 40px;
    line-height: 55px;
	  margin-top: 30px;
    padding-bottom: 30px;
  }
  .block-eight {
    margin: 120px 0 0 0;
  }
  .about-as-heading-last {
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
    text-align: center;
    margin: 0 75px 0 75px;
  }
  .block-seven {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 31px 50px 9px 50px;
    column-gap: 30px;
    
  }
  .block-seven-paragraf {
    Line-height: 14px;
    font-size: 14px;
    Line-height: 17px;
    font-weight: 400;
  }
  .block-six-link {
    margin: 5px;
    padding: 6px 0px 6px 0px;
  }
  .block-seven-p {
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
  }
  .block-seven-buttons {
    display: flex;
    flex-direction: column;
  }
  .link-list-left-one,
  .link-list-left-for {
    margin-right: 5px;
  }
  .block-seven-image {
    width: 227px;
    height: 400px;
    margin-bottom: 0;
  }
  .block-eight-link {
    width: 546px;
    height: 60px;
    padding: 0;
  }
  .block-eight-card {
    row-gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 375px) {
	.section-first-paragraf{
		margin-bottom: 20px;
	}
  .icon-sfera {
    font-size: 16px;
  }
  .section-first {
    margin: 0 16px;
  }
  .section__landing {
    margin-top: 0;
  }
  .navigation {
    margin-bottom: 48px;
  }
  .section-first-paragraf {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
  }
  .section-first{
	  margin-bottom: 0;
  }
  .link-list-left-color {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
  }
  .list-left {
    text-align: center;
    padding: 80px 0 0px 0;
  }
  .section-two {
    display: flex;
    flex-direction: column-reverse;
    column-gap: 238px;
    justify-content: center;
    margin: 100px 300px;
  }
  .block-for-image-two {
  display: none;
  }
  .link-list-left,
  .block-first-color,
  .link-list-left-for-li {
    font-size: 14px;
    margin: 0;
  }
  .block-first-color-for {
    font-size: 14px;
    margin: 10px 0 0 0;
    line-height: 20px;
  }
  .link-list-left-for {
    width: 16px;
  }
  .section-block-one {
    top: 340px;
  }
  .lead__download-links-list {
    padding: 0;
    row-gap: 10px;
    margin-top: 400px;
  }
  .section-image-one {
    width: 151px;
    height: 317px;
    margin-right: 20px;
  }
  .section-image-two {
    width: 159px;
    height: 317px;
  }  
  .section-two {
	  margin:0;
    padding: 0;
  }                  
  .section-two-image-one {
    width: 155px;
    height: 324px;
    margin: 0 20px 0 0;
  }
  .section-two-image-two {
    width: 155px;
    height: 324px;

  }
  .block-first-color-for,
  .block-first-color {
    margin-bottom: 18px;
  }
  .block-for {
    margin: 28px 0 20px 0px;
  }
  .block-footer-one {
    padding-bottom: 1px;
  }
  .block-for-image-one {
    width: 102px;
    height: 219px;
    margin: 0;
  }
  .block-for-image-two {
    width: 150px;
    height: 300px;
    margin: 0;
  }
  .block-for {
    column-gap: 10px;
  }
  .section-two-content-social-block-mobile {
    display: block;
    font-size: 24px;
  }
  .section-two-content-number {
    font-size: 24px;
    line-height: 37px;
    padding: 10px;
  }
  .section-two-content-message,
  .section-two-content-social  {
    font-weight: 400;
    font-size: 28px;
    Line-height: 43px;
  }
  .section-about-as-heading {
    margin-top: 60px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
  }
  .about-as-heading{
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
	  margin-top: 10px;
  }
  .block-for-image {
    column-gap: 15px;
}
  .about-as-heading-last {
    font-size: 24px;
    line-height: 37px;
    text-align: left;
  } 
  .section-as-heading {
    margin-top: 35px;
    font-size: 20px;
  }
  .section-as-iframe-video {
    width: 337px;
    height: 30%;
  }
  .list-left-for {
    font-size: 14px;
  }
  .list-left-for {
    /* background: none; */
    padding-left: 25px;
  }
  .block-seven {
	  margin-top: 50px;
  }
  .block-seven-paragraf {
    Line-height: 20px;
    font-size: 16px;
  }
  .block-six-link {
    margin: 0px;
    padding: 6px 5px 6px 4px;
    font-size: 14px;
    line-height: 20px;
  }
  .block-seven-p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }
  .block-seven-text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
  .block-eight-link {
    width: 335px;
    font-size: 14px;
	  margin-bottom: 0;
	  margin-top: 30px;
  }
  .section-two-content {
    width: auto;
    height: auto;
    margin-left: 0;
	  margin-top: 80px;
  }
  .block-seven-paragraf {
    margin-left: 0px;
    text-align: start;
  }
  .block-six {
    margin-left: -5px;
  }
  
  .block-eight {
	  margin: 50px 0 0 0;
    text-align: center;
  }
  .section-as {
	margin-bottom: 0px;
  }
  .link-list-left-for {
    margin-right: 13px;
  }
  .about-as-heading-last{
    text-align: center;
    margin: 0;
    font-size: 24px;
    line-height: 37px;
  }
  .block-seven {
    margin: 23px 30px 10px 30px;
    column-gap: 30px;
}
  .block-seven-image {
    width: 97px;
    height: 164px;
    margin: 0 0 60px 0;
  }
  .block-eight-card {
    padding: 0;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .block-eight-card-image {
    width: 150px;
    height: 300px;
  }
  .block-eight-card-list-paragraf {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
  }
}
@media screen and (max-width: 320px) {
  .section-as-iframe-video {
    width: 280px;
    height: 258px;
  }
  .section-image-one,.section-image-two {
    width: 130px;
    height: 260px;
  }
  .section-two-image-one {
    width: 130px;
    height: 272px;
    margin: 0 20px 0 0;
  }
  .section-two-image-two {
    width: 130px;
    height: 272px;
  }
  .block-for-image-one {
    width: 106px;
    height: 219px;
    margin: 14px 0 0 0x;
  }
  .lead__download-links-list {
    margin-top: 340px;
}
  .block-for {
    margin: 38px 5px 0 5px;
  }
  .block-for-list  {
    font-size: 12px;
    line-height: 18px;
  }
  .list-left-for {
    padding-left: 0px;
  }
  .section-two-content-number-two {
    font-size: 20px;
    line-height: 30px;
  }
  .block-seven-paragraf {
    margin-left: 15px;
  }
  .block-seven-p {
    font-size: 18px;
    line-height: 25px;
  }
  .block-seven-text {
    font-size: 14px; 
  }
  .about-as-heading-last{
    font-size: 20px;
    line-height: 30px;
  }
  .section {
    margin-top: 40px;
  }
  .block-seven {
    margin: 20px 15px 10px 15px;
    column-gap: 0px;
  }
}