.section-card {
	background:  #2E2E31;
	padding: 80px 0;
}

.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 200px;
	margin-top: -50px;

}
.card-block {
	cursor: pointer;
	width: 300px;
	height: 760px;
	margin-right: 261px;
	margin-bottom: 40px;
	perspective: 1000px;
}
.product-inner {
	transition: transform 1.2s linear;
	position: relative;
	width: 100%;
	height: 75%;
	transform-style: preserve-3d;
}

.card-block-botton {
	position: relative;
	margin-top: 40px;
	bottom: -20px;
	text-align: center;
	color: rgba(255, 255, 255, 0.87);
	font-size: 20px;
	line-height: 24px;
}
.card-block-top {
	display: block;
	font-size: 24px;
	line-height: 30px;
	margin: 10px auto;
	border: none;
	padding: 8px;
	color: #00A9DE;
	background: rgba(0, 169, 222, 0.1);
	border-radius: 3px;
}
.card-3d {
	perspective: 1000px;
	cursor: pointer;
	width: 296px;
	height: 600px;
}
.product-front {
	position: absolute;
	width: 76%;
	left: -5px;
	border-radius: 35px;
	transform: translateZ(7.8px);
}
.product-back {
	transition: transform 1.2s linear;
	border-radius: 35px;
	right: -55px;
	width: 64%;
	position: relative;
	height: 300px;
	transform: translateZ(-7.8px);
}
.left-side {
	width: 16px;
	height: 100%;
	background: #121212;
	transform: rotateY(90deg);
	margin-top: 300px;
	position: relative;
	margin-left: -5px;
	bottom: 590px;
	/* -webkit-border-radius: 20px; */
}
.product-inner:hover {
	transform: rotateY(180deg);
	transition: transform 1.2s linear;
}
.back {
	position: relative;
	width: 300px;
	height: 600px;
	transform: rotateY(180deg);
	left: -63px;
}
.front {
	width: 300px;
	height: 600px;
}
.back-two {
	position: relative;
	width: 300px;
	height: 600px;
	transform: rotateY(180deg);
	left: -63px;
}
.front-two {
	width: 300px;
	height: 600px;
}
.back-three {
	position: relative;
	left: -63px;
	width: 300px;
	height: 600px;
	transform: rotateY(180deg);
}
.front-three {
	width: 300px;
	height: 600px;
}
.back-four {
	position: relative;
	left: -63px;
	width: 300px;
	height: 600px;
	transform: rotateY(180deg);
}
.front-four {
	width: 300px;
	height: 600px;
}
.back-five {
	position: relative;
	left: -63px;
	width: 300px;
	height: 600px;
	transform: rotateY(180deg);
}
.front-five {
	width: 300px;
	height: 600px;
}
.back-six {
	position: relative;
	left: -63px;
	width: 300px;
	height: 600px;
	transform: rotateY(180deg);
}
.front-six {
	width: 300px;
	height: 600px;
}
.back-seven {
	position: relative;
	left: -63px;
	width: 300px;
	height: 600px;
	transform: rotateY(180deg);
}
.front-seven {
	width: 300px;
	height: 600px;
}
.back-eight {
	position: relative;
	left: -63px;
	width: 300px;
	height: 600px;
	transform: rotateY(180deg);
}
.front-eight {
	width: 300px;
	height: 600px;
}
.back-nine {
	position: relative;
	left: -63px;
	width: 300px;
	height: 600px;
	transform: rotateY(180deg);
}
.front-nine {
	width: 300px;
	height: 600px;
}
@media screen and (max-width: 1440px) {
	.card {
		margin: 30px -110px 60px 60px;
	}
	.card-block {
		margin-right: 148px;
		margin-bottom: 30px;
	}
	.left-side {
		height: 100%;
		margin-top: 295px
	}
	.card-block-botton{
		bottom: -10px;
	}
}
@media screen and (max-width: 768px) {
	.card {
		margin: 10px 10px 0px 20px;
		}
		.card-block {
		  margin-right: 7px;
		}
		.card-block-botton{
			margin-top: 50px;
		}
		.card-block:last-child{
		  margin-top: 30px;
		}
		.left-side {
			height: 100%;
			margin-top: 300px
		}
}
@media screen and (max-width: 375px) {
	.section-card {
    padding: 1px 0;
	}
	.card,
	.card-block {
		margin: 0 0 0;
	}
	.card-block-top {
		font-size: 14px;
		line-height: 20px;
	}
	.card-block-botton {
		width: 100%;
		margin-top: 0px;
    font-size: 10px;
    line-height: 12px;
	}
	.card-block {
		width: 150px;
		height: 400px;
	}
	.left-side {
		width: 5px !important;
		height: 285px !important;
		position: relative;
		bottom: 587px !important;
	}
	.product-front {
		position: absolute;
		transform: translateZ(2px) !important;
	}
	.product-back {
		position: relative;
		transform: translateZ(-3px) !important;
	}
	.product-inner:hover {
		transform: rotateY(180deg);
		transition: transform 1.2s linear;
	}
	.back {
		width: 150px;
		height: 300px;
	}
	.front {
		position: relative;
		left: 1px;
		width: 150px;
		height: 300px;

	}
	.back-two {
		width: 150px;
		height: 300px;
		
	}
	.front-two {
		position: relative;
		left: 1px;
		width: 150px;
		height: 300px;
	
	}
	.back-three {
		width: 150px;
		height: 300px;
	}
	.front-three {
		position: relative;
		left: 1px;
		width: 150px;
		height: 300px;
		
	}
	.back-four {
		width: 150px;
		height: 300px;
	}
	.front-four {
		position: relative;
		left: 1px;
		width: 150px;
		height: 300px;
		
	}
	.back-five {
		width: 150px;
		height: 300px;
		
	}
	.front-five {
		position: relative;
		left: 1px;
		width: 150px;
		height: 300px;
		
	}
	.back-six {
		width: 150px;
		height: 300px;
		
	}
	.front-six {
		position: relative;
		left: 1px;
		width: 150px;
		height: 300px;
		
	}
	.back-seven {
		width: 150px;
		height: 300px;
		
	}
	.front-seven {
		position: relative;
		left: 1px;
		width: 150px;
		height: 300px;
		
	}
	.back-eight {
		width: 150px;
		height: 300px;
	
	}
	.front-eight {
		position: relative;
		left: 1px;
		width: 150px;
		height: 300px;
		
	}
	.back-nine {
		width: 150px;
		height: 300px;
		
	}
	.front-nine {
		position: relative;
		left: 1px;
		width: 150px;
		height: 300px;
		
	}
}
@media screen and (max-width: 320px) {
	.card,
	.card-block {
		margin: 0 0 0;
	}
	.card-block:last-child{
		margin-top: 0px;
	  }
	.card-block-top {
		font-size: 14px;
		line-height: 20px;
	}
	.card-block-botton {
		margin: 115px 0px 0px 5px !important;
		font-size: 10px;
		line-height: 12px;
		width: 100%;
		margin-top: 0px !important;
	}
	.card-block {
		padding: 5px 0px;
		width: 150px;
		height: 400px;
	}

	.product-inner {
		justify-content: center;
		margin-left: 10px;
		height: 70%;
	}

	.left-side {
		width: 5px !important;
		height: 260px !important;
		position: relative;
		bottom: 590px !important;
		margin-top: 325px;
	}
	.product-front {
		position: absolute;
		transform: translateZ(2px) !important;
	}
	.product-back {
		position: relative;
		height: 265px;
		transform: translateZ(-3px) !important;
	}
	.product-inner:hover {
		transform: rotateY(180deg);
		transition: transform 1.2s linear;
	}
	.card-block {
		width: 140px;
		height: 365px;
	}
	.back {
		width: 132px;
		height: 261px;
	
	}
	.front {
		width: 150px;
		height: 300px;
		
	}
	.back-two {
		width: 132px;
		height: 261px;
		
	}
	.front-two {
		width: 132px;
		height: 261px;
	
	}
	.back-three {
		width: 132px;
		height: 261px;
		
	}
	.front-three {
		width: 132px;
		height: 261px;
		
	}
	.back-four {
		width: 132px;
		height: 261px;
	
	}
	.front-four {
		width: 132px;
		height: 261px;
		
	}
	.back-five {
		width: 132px;
		height: 261px;
		
	}
	.front-five {
		width: 132px;
		height: 261px;
		
	}
	.back-six {
		width: 132px;
		height: 261px;
		
	}
	.front-six {
		width: 132px;
		height: 261px;
		
	}
	.back-seven {
		width: 132px;
		height: 261px;
		
	}
	.front-seven {
		width: 132px;
		height: 261px;
		
	}
	.back-eight {
		width: 132px;
		height: 261px;
		
	}
	.front-eight {
		width: 132px;
		height: 261px;
		
	}
	.back-nine {
		width: 132px;
		height: 260x;
		
	}
	.front-nine {
		width: 132px;
		height: 260px;
		
	}
}
