.lead__text__link {
    list-style: none;
    padding-left: 0;
    color: rgba(255, 255, 255, 0.87);
}

#btn,
#btnOne,
#btnTwo,
#btnThree {
    font-size: 18px;
    line-height: 17px;
    font-weight: 600;
    color: rgb(99, 99, 176);
}
#more,
#moreOne,
#moreTwo,
#moreThree{
    display: none;
}
#dots,
#dotsOne,
#dotsTwo,
#dotsThree {
    display: none;
}


hr {
    margin: 0;
}
.section__wrapper {
    margin: 0 200px;
}
.apps__lead {
    background:  #2E2E31;
}
.lead__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    padding: 100px 0;
}
.lead__text {
    color: rgba(255, 255, 255, 0.87);
    font-size: 24px;
    line-height: 29px;
    max-width: 700px;
}
.details__list {
    color: rgb(100, 100, 227);
}

@media screen and (max-width: 1440px) {
    .section__wrapper {
        margin: 0 70px;
    }
}
@media screen and (max-width: 1240px) {
    .section__wrapper {
        margin: 0 30px;
    }
    .apps__lead-image {
        max-width: 520px;
    }
}
@media screen and (max-width: 768px) {
    .lead__flex {
    flex-direction: column;
    padding: 100px 0 0 0;
    }
    .section__wrapper {
        margin: 0 50px;
    }
    .apps__lead-image {
        max-width: 653px;
    }
}
@media screen and (max-width: 375px) {
    .section__wrapper {
        margin: 0 25px;
    }
    .apps__lead:first-of-type {
        padding-top: 100px;
    }
    
    .apps__lead-image {
        max-width: 320px;
    }
    .lead__text {
        color: rgba(255, 255, 255, 0.87);
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
    }
    .section__wrapper {
        margin: 0 20px;
    }
    .apps__lead {
        background:  #2E2E31;
    }
    .lead__flex {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 80px;
        padding: 10px 0;
    }
    .details__list {
        display: list-item;
        font-size: 14px;
    }
}
    @media screen and (max-width: 320px) {
    .apps__lead-image {
        max-width: 300px;
    }
}




