.section__wrapper {
    margin: 0 200px;
}
.apps__lead {
    background:  #2E2E31;
}
.lead__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    padding: 100px 0;

}

.lead__text {
    color: white;
    font-size: 24px;
    line-height: 29px;
    max-width: 700px;
}
details {
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid #00A9DE;
    max-width: 200px;
}







