.lead__download-links-list {
  display: flex;
  list-style: none;
  padding: 0;
  column-gap: 30px;
}
.startups__wrapper {
  margin: 0 256px;
}
.section__startups {
  background: #2E2E31;
  color: rgba(255, 255, 255, 0.87);
  padding: 0 0 100px 0;
}
.lead {
  display: flex;
  align-items: center;
  column-gap: 170px;
}
.lead__texts {
  display: flex;
  flex-direction: column;
}
.lead__title {
  font-weight: 700;
  font-size: 86px;
  line-height: 104px;
  color: rgba(255, 255, 255, 0.87);
  text-transform: uppercase;
}
.lead__title-color {
  color: #00A9DE;
}
.lead__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.87);
  margin-top: 0px;
}
.lead__images {
  display: flex;
  justify-content: space-between;
}
.lead__image {
  width: 641px;
  height:400px;
}
.text-list__list-item {
  list-style-type: none;
}
.description__wrapper {
  margin: 100px 250px;
}
.description__list__heading {
  margin: 0 0 100px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
.description__list {
  list-style-type: none; 
	counter-reset: num;
	margin: 0 0 200px 45px;
	padding: 15px 0 5px 0;
  display: flex;
  column-gap: 260px;
}
.description__list__paragraf {
  position: relative;	
	margin: 0 0 0 0;
	padding: 0 0 20px 50px;
	
  font-size: 24px;
  font-weight: 400;
  line-height:29px;
}
.description__list__paragraf::before {
  content: counter(num); 
	counter-increment: num;
	display: inline-block;
	position: absolute;
	top: 0;
	left: -38px;
	width: 50px;
	height: 48px;
	background: rgb(16, 16, 16);
	color: rgba(255, 255, 255, 0.87);
	text-align: center;
	font-weight: 600;
  font-size: 36px;
  line-height: 44px;
	border-radius: 50%;
}
.frame__wrapper {
  margin:0 200px 100px 200px;
}
.frame__list {
  list-style: none;
  display: flex;
  column-gap: 195px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1600px) {
  .lead {
    column-gap: 10px;
  }
}
@media screen and (max-width: 1440px) {
  .startups__wrapper {
    margin: 0 100px;
  }
  .description__wrapper {
    margin: 50px 150px;
  }
  .frame__wrapper {
    margin: 0 150px 50px 150px;
}
  .description__list {
    margin: 0px 0 100px 45px;
  }
}
@media screen and (max-width: 1240px) {
  .lead__image {
    width: 506px;
    height: 397px;
}
  .lead__text {
    font-size: 22px;
  }
  .startups__wrapper {
    margin: 0 30px;
  }
  .lead__title {
    font-size: 74px;
  }
  .lead {
    column-gap: 0px;
  }
  .description__wrapper {
    margin: 100px 50px;
  }
  .description__list {
  margin: 0px 0 120px 10px;
  column-gap: 50px;
  }
  .frame__wrapper {
    margin: 150px 100px 100px 100px;
  }
  .frame__list {
  column-gap: 130px;
  
  }
  
}
@media screen and (max-width: 768px) {
  .startups__wrapper {
    margin: 0 50px;
}
.lead__download-links-list {
  margin-left: 25px;
}
  .lead__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 330px;
  }
  .description__list__paragraf {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
  .lead__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
  }
  .description__list__paragraf::before {
    width: 30px;
    height: 28px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}
  .lead__images {
    position: absolute;
    top: 500px;
    left: 160px;
  }
  .lead__image {
    width: 400px;
    height: 250px;
  }
  .lead__texts {
    margin-top: 165px;
  }
  .description__wrapper {
    margin: 50px 50px;
  }
  .description__list__heading {
    margin: 0 0 40px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }
  .description__list {
  margin: 0 0 100px 45px;
  padding: 0;
  flex-direction: column;
  }
  .frame__wrapper {
    margin: 0 50px 50px 30px;
}
  .frame__list {
    padding: 0;
    column-gap: 20px;
}
  .frame__list__image {
    width: 257px;
    height:250px;
  }
  .frame__list__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  } 
}
@media screen and (max-width: 375px) {
  .startups__wrapper {
    margin: 0 14px 0;
  }
  .lead__image {
    width: 350px;
    height: 250px;
  }
  .lead__images {
    position: absolute;
    top: 400px;
    left: 0;
  }
  .lead__texts {
    margin-top: 120px;
  }
  .section__startups {
    padding: 0px 0 30px 0;
}
  .lead__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 300px;
  }
  .lead__download-links-list {
  row-gap: 20px;
  }
  .lead__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
  }
  .description__wrapper {
    margin: 50px 25px;
  }
  .description__list__heading {
    margin: 0 0 40px 0;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
  }
  .description__list__paragraf {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 0px 0 20px 10px;
  }
  .description__list {
    margin: 0 0 60px 45px;
  }
  .frame__list {
    flex-direction: column;
    row-gap: 30px;
  }

  .frame__list__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}
}