.lead__download-links-list {
  display: flex;
  list-style: none;
  padding: 0;
  column-gap: 30px;
}
.startups {
  background: #2E2E31;
  color: white;
}
.lead {
  display: flex;
  align-items: center;
  padding-bottom: 200px;
  column-gap: 180px;
}

.lead__texts {
  display: flex;
  flex-direction: column;
  width: 914px;
  height: 519px;
}
.lead__title {
  font-weight: 700;
  font-size: 86px;
  line-height: 104px;
  color: #FFFFFF;

  text-transform: uppercase;
}
.lead__title-color {
  color: #00A9DE;
}
.lead__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-top: 0px;
}
.lead__images {
  display: flex;
  justify-content: space-between;
}
.lead__image {
  margin-top: 240px;
    margin-left: -176px;
    width: 742px;
}
.text-list__list-item {
  list-style-type: none;
}
.description__wrapper {
  margin: 100px 200px;
}
.description__list__heading {
  margin: 0 0 100px 0;
}
.description__list {
  list-style-type: none; 
	counter-reset: num;
	margin: 0 0 200px 45px;
	padding: 15px 0 5px 0;
  display: flex;
  column-gap: 380px;
}
.description__list__paragraf {
  position: relative;	
	margin: 0 0 0 0;
	padding: 0 0 20px 50px;
	line-height: 1.4;
}
.description__list__paragraf::before {
  content: counter(num); 
	counter-increment: num;
	display: inline-block;
	position: absolute;
	top: 0;
	left: -38px;
	width: 60px;
	height: 60px;
	background: rgb(16, 16, 16);
	color: white;
	text-align: center;
	font-weight: 600;
  font-size: 36px;
  line-height: 44px;
	border-radius: 50%;
	
}
.frame__wrapper {
  margin:0 200px 100px 200px;
}
.frame__list {
  list-style: none;
  display: flex;
  column-gap: 195px;
  justify-content: center;
  align-items: center;
}

/* .frame {
  display: flex;
  margin-top: 140px;
  margin-bottom: 130px;
  gap: 80px;
} */

/* .frame__text {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  margin-top: 20px;
} */

@media screen and (max-width: 768px) {
  .lead {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 80px;
    padding-bottom: 0px;
  }
  .lead__text {
    width: 332px;
    height: 108px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    margin-top: -50px;
  }
  .lead__title {
    font-weight: 300;
    font-size: 36px;
    line-height: 43.57px;
    width: 500px;
    height: 132px;
    text-transform: uppercase;
  }
  .lead__images {
    margin-bottom: 135px;
  }
  .lead__image {
    width: 303.92px;
    height: 187.26px;
  }
  .lead__button {
    width: 504px;
    height: 70px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-top: 30px;
    padding-top: 130px;
  }
  .lead__button__lead-android {
    width: 262px;
    height: 60px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    font-size: 18px;
    line-height: 22px;
  }
  .lead__button__lead-ios {
    width: 222px;
    height: 60px;
    font-size: 18px;
    line-height: 22px;
  }
  .list {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .list__items {
    margin-top: -180px;
    margin-left: auto;
  }
  .list__circle {
    background: black;
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    width: 60px;
    height: 60px;
    font-size: 22px;
    font-weight: 600;
  }
  .text-list__list-item {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    width: auto;
  }
  .list__image {
    width: 403px;
    height: 372px;
    margin-left: 150px;
  }
  .frame {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame__image {
    margin-left: -190px;
    margin-top: -80px;
  }
  .frame__text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin-top: -150px;
    white-space: nowrap;
  }
}